@import "mixins"

.btn
	border-radius 2px

@keyframes kfs_tooltip
	0%
		opacity 0
		transform scale(0.9)
	100%
		opacity .8
		transform scale(1)

.tooltip.in
	animation kfs_tooltip 200ms
	.tooltip-inner
		border-radius 2px

#NB-notifications
	position absolute
	top 10px
	right 10px
	z-index 10000

	.noti
		position relative
		display none
		border-radius 3px
		padding 5px 15px
		margin 5px
		background rgba(0, 0, 0, 0.7)
		color #FFF
		right 0

		&.red
			background rgba(235, 27, 27, 0.7)
