<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= css(class_name) ?>

	<title><?- _.l('MOE') ?></title>
</head>
<body>

	<h1 class="text-center font-l" title="Chris Avellone">
		Time is not your enemy, forever is.
	</h1>

	<?= foot ?>

	<?= js(class_name) ?>

</body>
</html>