<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= _.css(css) ?>

	<title><?- _.l('MOE') ?></title>
</head>
<body>

	<h1 class="text-center font-l" title="Chris Avellone">
		Time is not your enemy, forever is.
	</h1>

	<?= foot ?>

	<?= _.js(js) ?>

</body>
</html>