

<div id="host-panel" class="text-center">

	<button action='home' class="btn btn-default">
		<i class='fa fa-step-backward'></i>
	</button>

	<button action='pause' class="btn btn-default">
		<i class='fa fa-pause'></i>
	</button>

	<button action='end' class="btn btn-default">
		<i class='fa fa-step-forward'></i>
	</button>

	<button action='timer' class="btn btn-default">
		<i class='fa fa-clock-o'></i>
	</button>

	<button action='zoom' class="btn btn-default">
		<i class='fa fa-search'></i>
	</button>

	<button action='lock' class="btn btn-default">
		<i class='fa fa-unlock'></i>
	</button>

</div>

<div id="timer">
	<i class='fa fa-clock-o'></i>
	<span class='time'>0 : 0</span>
</div>

<script id='role-option-tpl' type="text/ejs">

	<button mode='guest' class="btn btn-primary btn-lg btn-block">
		<?- _.l('Guest Mode') ?>
	</button>
	<button mode='host' class="btn btn-primary btn-lg btn-block">
		<?- _.l('Host Mode') ?>
	</button>
	<button mode='free' class="btn btn-primary btn-lg btn-block">
		<?- _.l('Free Mode') ?>
	</button>

</script>

<script id='host-login-tpl' type="text/ejs">

	<div class="input-group">
		<span class="input-group-addon"><i class='fa fa-key'></i></span>
		<input type="text" class="form-control" placeholder="<?- _.l('Token') ?>">
	</div>

</script>
