<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<?= _.css(
		'/reveal.js/css/reveal.min.css',
		'/reveal.js/css/theme/default.css',
		'/reveal.js/lib/css/zenburn.css',

		'app/css/home.css'
	) ?>

	<!-- If the query includes 'print-pdf', use the PDF print sheet -->
	<script>
		document.write( '<link rel="stylesheet" href="/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
	</script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->

	<title>Notell</title>
</head>
<body>

	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			<section>
				<h1>Reveal.js</h1>
				<h3>HTML Presentations Made Easy</h3>
				<p>
					<small>Created by <a href="http://hakim.se">Hakim El Hattab</a> / <a href="http://twitter.com/hakimel">@hakimel</a></small>
				</p>
			</section>

			<section>
				<h2>Heads Up</h2>
				<p>
					reveal.js is a framework for easily creating beautiful presentations using HTML. You'll need a browser with
					support for CSS 3D transforms to see it in its full glory.
				</p>

				<aside class="notes">
					Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
				</aside>
			</section>

			<section>
				<h2>Slides</h2>
				<p>
					Not a coder? No problem. There's a fully-featured visual editor for authoring these, try it out at <a href="http://slid.es" target="_blank">http://slid.es</a>.
				</p>
			</section>

			<section>
				<h2>Point of View</h2>
				<p>
					Press <strong>ESC</strong> to enter the slide overview.
				</p>
				<p>
					Hold down alt and click on any element to zoom in on it using <a href="http://lab.hakim.se/zoom-js">zoom.js</a>. Alt + click anywhere to zoom back out.
				</p>
			</section>

			<section>
				<h2>Works in Mobile Safari</h2>
				<p>
					Try it out! You can swipe through the slides and pinch your way to the overview.
				</p>
			</section>

			<section>
				<h2>Marvelous Unordered List</h2>
				<ul>
					<li>No order here</li>
					<li>Or here</li>
					<li>Or here</li>
					<li>Or here</li>
				</ul>
			</section>

			<section>
				<h2>Fantastic Ordered List</h2>
				<ol>
					<li>One is smaller than...</li>
					<li>Two is smaller than...</li>
					<li>Three!</li>
				</ol>
			</section>

			<section data-markdown>
				<script type="text/template">
					## Markdown support

					For those of you who like that sort of thing. Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).

					```
					<section data-markdown>
					  ## Markdown support

					  For those of you who like that sort of thing.
					  Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
					</section>
					```
				</script>
			</section>

		</div>

	</div>

	<?= host_assets ?>

	<?= foot ?>

	<?= _.js(
		'/reveal.js/plugin/markdown/marked.js',
		'/reveal.js/plugin/markdown/markdown.js',
		'/reveal.js/lib/js/head.min.js',
		'/reveal.js/js/reveal.min.js',

		'/socket.io/socket.io.js',

		'app/js/guest.js',
		'app/js/host.js',
		'app/js/notell.js'
	) ?>

	<script type="text/javascript">

		NT.notell = new NT.Notell;

	</script>

</body>
</html>