<div id="host-panel">

</div>

<script id='host-login-tpl' type="text/ejs">
	<div class="input-group">
		<span class="input-group-addon"><i class='fa fa-key'></i></span>
		<input type="text" class="form-control" placeholder="<?= _.l('Token') ?>">
	</div>
</script>
