<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= _.css('app/css/host.css') ?>

	<title>Notell - Host</title>
</head>
<body>

	<button class="btn btn-primary">
		Next
	</button>


	<?= foot ?>

	<?= _.js(
		'/socket.io/socket.io.js',
		'app/js/host.js'
	) ?>

	<script type="text/javascript">

		NT.host = new NT.Host;

	</script>

</body>
</html>