<!-- Global assets -->
<?= render('/assets/ejs/assets', null, true) ?>

<div id="NB-scripts">
	<?=
		js(
			// Third libs
			'/requirejs/require',
			'/jquery/jquery.min',
			'/jquery.transit/jquery.transit',
			'/underscore/underscore-min',
			'/underscore.string/dist/underscore.string.min',
			'/bootstrap/dist/js/bootstrap.min',
			'/socket.io/socket.io.js',

			// NB
			'/js/jquery.helpers',
			'/js/_.helpers',
			'/langs/' + NB.nobone.conf.lang,
			'/js/app'
		)
	?>
</div>

<!-- Global configuration. -->
<script type="text/javascript">

	// Underscore
	_.mixin(_.str.exports());
	_.str.include('Underscore.string', 'string');

	_.templateSettings = {
		evaluate    : /<\?([\s\S]+?)\?>/g,
		interpolate : /<\?=([\s\S]+?)\?>/g,
		escape      : /<\?-([\s\S]+?)\?>/g
	};

	NB.nobone = new NB.Nobone

</script>
