// Define your custom style here.

.reveal h1
.reveal h2
.reveal h3
.reveal h4
.reveal h5
.reveal h6
	font-family l, '微软雅黑'

// Fix the bootstrap
pre
	background-color transparent
	code
		white-space inherit

.reveal
	a
		font-weight bold
		color rgb(82, 161, 206)
		&:hover
			color rgb(35, 161, 233)

	li, p
		line-height 1.5em

	i
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;