
#host-panel
	display none
	position absolute
	top 1em
	left 0
	width 100%
	z-index 90001

	.btn
		background rgba(255, 255, 255, 0)
		color #fff
		&:hover
			background rgba(255, 255, 255, 0.3)

.prevent-interaction
	display none
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 90000
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;